body{
    background: #BDBDBD;
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post{
    background: white;
    margin-top: 25px;
}
div.post img{
    width: 100%;
}
.post-header{
    display: flex;
    background: white;
    align-items: center;
}
div.post h2{
    padding: 10px 10px 10px 20px;
    margin: 0px;
}
div.container{
    width: 600px;
    margin: auto;
}
.post-header span{
    margin-left: auto;
    color: gray;
    padding: 5px;
}
.post-text{
    padding: 10px;
    margin: 0px;
}